/* ---------------------GLOBAL FEATURES------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------LIGHT MODE FEATURES------------------------------------ */

:root {
  --text-color: white; /* creation of a variable for text color  */
  --bg-url: url(./assets/Background-mobile-dark.jpg); /* creation of a variable for the background image */
  --stroke-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* creation of a variable for the border color for the link buttons */
  --surface-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* creation of a variable for the padding of link buttons */
  --surface-color-hover: rgba(
    0,
    0,
    0,
    0.02
  ); /* creation of a variable for the padding of link buttons when hovered*/
  --highlight-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* creation of a variable for the padding of social buttons when hovered*/
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/Background-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  /* ---------------------CONTAINER------------------------------------ */
}
#container {
  margin: 56px auto 0px;
  width: 360px;
  padding: 0 24px;

  /* ---------------------PROFILE------------------------------------ */
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  display: block;
  margin: auto;
}
#profile p {
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* ---------------------SWITCH------------------------------------ */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/* ---------------------LINKS------------------------------------ */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  padding: 16px 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background-color 0.5s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  box-shadow: whitesmoke 50px;
}

/* -------------- ICONES SOCIAIS ---------*/

#social-links {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}
